@use "variables";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: variables.$background-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: variables.$header-color;
  font-family: variables.$font-heading;
}

p {
  font-family: variables.$font-body;
}
main,
footer,
nav {
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.8rem;
}

nav {
  background-color: variables.$nav-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  color: variables.$nav-text;
  text-decoration: none;
}
nav a:hover {
  color: variables.$nav-hover;
}
.links {
  gap: 2rem;
}

nav > div {
  display: flex;
  align-items: stretch;
}
.hamburger-menu {
  display: none;
  color: white;
}
/* end of header styles */
/*nav styles for admin*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 12rem;
  height: 100%;
  // padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar h2 {
  margin: 1rem 0 3.5rem;
  font-size: 20px;
  color: white;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  margin-bottom: 2rem;
  a {
    color: white;
  }
}
.sidebar ul li a:hover {
  color: #ff6d0c;
}
/*end of nav styles for admin*/

/* footer styles */
footer {
  background-color: variables.$footer-background;
  color: variables.$footer-text;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.875rem;
  .footer-column {
    flex: 1 1 200px;
    margin: 1rem 0;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.5rem;
      a {
        color: variables.$footer-text;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  h4 {
    margin-bottom: 0.5rem;
  }

  .footer-bottom {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    border-top: 1px solid #4e4e4e;
    padding-top: 1rem;
  }
  .arrow{
    display: none;
  }
}

/* end of footer styles */
// other body styles
.back-btn {
  color: white;
  background-color: variables.$button-primary-background;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  text-decoration: none;
}
.back-btn:hover {
  background-color: variables.$button-primary-hover;
}
//end of other body styles
