@use "variables";

.card {
  background-color: variables.$card-background;
  border-left: 6px solid variables.$border-line;
  padding: 1.25rem 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.card:hover {
  box-shadow: 0 4px 12px rgb(198 107 61 / 0.25);
}

.card h3 {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

// table and seach button
.search {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  input {
    background-color: #fceeea;
    border-radius: 5px;
    padding: 0.2rem 2rem;
    width: 50%;
  }
  .button-clear {
    background-color: variables.$button-primary-background;
    text-decoration: none;
    color: variables.$button-primary-text;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 10px;
    border: none;
  }
}
.table-container {
  background: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  table {
    width: 100%;
    text-align: left;
  }
  thead th {
    padding: 0.75rem 1rem;
    font-weight: 500;
    border-bottom: 1px solid #eee5dc;
  }
  tbody tr {
    border-bottom: 1px solid #eee5dc;
  }
  tbody tr:hover {
    background-color: #fceeea;
  }
  td {
    padding: 0.75rem 1rem;
  }
  .active {
    font-weight: 600;
    color: #16a34a;
  }
  .inactive,
  .deactivate {
    font-weight: 600;
    color: red;
  }
  td:last-child a {
    margin-right: 0.5rem;
    text-decoration: none;
  }
  td:last-child a:nth-child(1) {
    color: #c66b3d;
  }
  td:last-child a:hover {
    text-decoration: underline;
  }
}
