$background-color: #FAF9F6;

$header-color:  #924d2b;
$nav-background: 	#2E2E2E;
$nav-text: 	#FAF9F6;
$nav-hover: 	#C66B3D;

$paragraph-color: #000000;

$button-primary-background: #C66B3D;
$button-primary-text: #FAF9F6;
$button-primary-hover:#924d2b;

$button-secondary-background:#A8A69F;
// $button-secondary-hover: #7b7243;
$button-secondary-text:#2E2E2E;

$links: #C66B3D ;
$links-hover: #f09068;

$card-background: #f2f1ed;

$border-line:  #c66b3d;

$footer-background: #2E2E2E;
$footer-text: #FAF9F6;

$font-heading: 'Playfair Display', serif;
$font-body: 'Inter Tight', sans-serif;