:root {
  --background-color: #FAF9F6;
  --header-color:  #924d2b;
  --nav-background: 	#2E2E2E;
  --nav-text: 	#FAF9F6;
  --nav-hover: 	#C66B3D;
  --paragraph-text-color: #4e4e4e;
  --button-primary-background: #C66B3D;
  --button-primary-text: #FAF9F6;
  --button-primary-hover:#924d2b;
  --button-secondary-background:#A8A69F;
  --button-secondary-text:#2E2E2E;
  --links: #C66B3D ;
  --links-hover: #f09068;
  --card-background: #f2f1ed;
  --border-line:  #c66b3d;
  --footer-background: #2E2E2E;
  --footer-text: #FAF9F6;
}

body {
  background-color: var(--background-color);
  margin: 0;
}
main {
  padding: 1rem 2rem;
}

/* header styles */
.logo {
  font-size: 2rem;
}
nav {
  background-color: var(--nav-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
nav a{
    color: var(--nav-text);
    text-decoration: none;
  }
nav a:hover{
  color: var(--nav-hover);
}
.links {
  gap: 12rem;
}

nav > div {
  display: flex;
  align-items: stretch;
}
/* end of header styles */

/* footer styles */
footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.875rem;
}

footer .footer-column {
  flex: 1 1 200px;
  margin: 1rem 0;
}


footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li a {
  color: var(--footer-text);
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  border-top: 1px solid #4e4e4e;
  padding-top: 1rem;
}
/* end of footer styles */