@use "../variables";
#new-post {
  form .label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
    color: variables.$header-color;
  }

  form input[type="text"],
    form textarea {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1.5px solid variables.$border-line;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fff;
    color: variables.$paragraph-color;
  }
  form textarea {
    height: 180px;
    resize: vertical;
  }

  input[type="file"] {
    border: 1.5px solid variables.$border-line;
    background-color: #fff;
    padding: 0.45rem 0.4rem;
    border-radius: 6px;
    width: 100%;
  }
  .form-checkbox {
    margin-top: 1rem;
    .anonymous-label {
      color: variables.$header-color;
      font-weight: bold;
    }
  }
  .btn-save-btn:hover {
    background-color: variables.$button-primary-hover;
  }
}
