@use "../variables";

.form-container {
  max-width: 700px;
  margin: 0 auto;
  background-color: variables.$card-background;
  padding: 2rem;
  border: 1.5px solid variables.$border-line;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

    form label {
      display: block;
      margin-top: 1rem;
      margin-bottom: 0.4rem;
      font-weight: bold;
      color: variables.$header-color;
    }

    form input[type="text"],
    form select,
    form textarea {
      width: 100%;
      padding: 0.6rem 0.8rem;
      border: 1.5px solid variables.$border-line;
      border-radius: 6px;
      font-size: 1rem;
      background-color: #fff;
      color: variables.$paragraph-color;
    }

    form textarea {
      height: 180px;
      resize: vertical;
    }

    input[type="file"] {
      border: 1.5px solid variables.$border-line;
      background-color: #fff;
      padding: 0.45rem 0.4rem;
      border-radius: 6px;
      cursor: pointer;
      width: 100%;
    }

    .form-checkbox {
      display: flex;
      .anonymous{
        margin-bottom: 0.02rem;
      }
    }
    .form-checkbox input[type="checkbox"] {
      margin-right: 0.5rem;
    }

    .submit-btn {
      margin-top: 2rem;
      background-color: variables.$button-primary-background;
      color: variables.$button-primary-text;
      border: none;
      padding: 0.8rem 1.4rem;
      border-radius: 6px;
      font-size: 1rem;
    }
    .submit-btn:hover {
      background-color: variables.$button-primary-hover;
    }
