@use "../variables";

#user-dashboard {
    h1{
        margin-bottom: 0.5rem;
    }
    p{
        margin-bottom: 1rem;
    }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: variables.$links-hover;
  }

  .dashboard-grid {
    display: grid;
    // grid-column: repeat(2,1fr);
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
  }
}
